<header class="company-header">

  <div class="header-top">
    <div class="marquee">
      <span>📢 Dikkat! &nbsp; Açılışa özel tüm tavuk ürünlerinde %10 indirim!</span>
    </div>
  </div>

  <div class="headerBottom">

    <div class="logo">
      <img src="/canlogo.png" [routerLink]="['/anasayfa']" (click)="closeMenu() " style="cursor:pointer;" alt="LOGO">
    </div>

    <!-- HAMBURGER MENU ICON -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- MENU LINKS -->
    <div class="menu-links" [class.open]="isMenuOpen">
      <ul>
        <li [routerLink]="['/anasayfa']" (click)="closeMenu()">Anasayfa</li>
        <li [routerLink]="['/wheels', 'categories', 'lassa']" (click)="closeMenu()">Menü</li>
        <li [routerLink]="['/yolyardım']" (click)="closeMenu()">Hakkımızda</li>
        <li [routerLink]="['/iletisim']" (click)="closeMenu()">İletişim</li>
      </ul>
    </div>

  </div>
</header>