.popular-slider {
  width: 100%;
  overflow-x: scroll;
  padding: 20px 0;
  background: #f9f9f9;
  -ms-overflow-style: none;
  /* IE / Edge scrollbar gizle */
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
  /* Firefox scrollbar gizle */
}

.popular-slider::-webkit-scrollbar {
  display: none;
  /* Chrome + Safari scrollbar gizle */
}

.swiper {
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 0 20px;
}


.swiper-slide {
  flex: 0 0 auto;
  /* Kart sabit genişlik */
}

.product-card {
  width: 440px;
  height: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.product-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-info h4 {
  margin-top: 15px;
  font-size: 25px;
}

.product-info .description {
  margin-top: 0px;
  font-size: 13px;
  color: #555;
}

.product-info .price {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #e60000;
}

/* Tablet (600px - 900px) → 2 sütun */
@media (max-width: 1300px) {

 .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 0 20px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 150px;
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
  }

  .product-img {
    height: 140px;
    width: 210px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 12px;
  }


  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .product-info h4 {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }

  .product-info .description {
    margin-top: 4px;
    font-size: 9px;
    color: #555;
  }

  .product-info .price {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #e60000;
  }
}


  
@media (max-width: 1100px) {


  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 20px;
  }

}


@media (max-width: 1000px) {


  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 0 20px;
  }

}



@media (max-width: 800px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 180px;
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 250px;
    padding: 0 20px;
  }
}


/* Mobil (<600px) → 1 sütun */
@media (max-width: 600px) {



  .popular-slider {
    width: 100%;
    overflow-x: hidden;
    /* mobilde smooth swipe */
    padding: 20px 0;
    background: #f9f9f9;
    /* IE / Edge scrollbar gizle */
    scrollbar-width: none;
    /* Firefox scrollbar gizle */
  }

  .popular-slider::-webkit-scrollbar {
    display: none;
    /* Chrome + Safari scrollbar gizle */
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 0 20px;
  }

  .product-card {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .product-img {
    height: 140px;
    width: 210px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 12px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-info h4 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
  }

  .product-info .description {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 500;
    color: #555;
  }

  .product-info .price {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #e60000;
  }
}