.popular-slider {
  width: 100%;
  overflow-x: scroll;
  padding: 20px 0;
  background: #f9f9f9;
  -ms-overflow-style: none;
  /* IE / Edge scrollbar gizle */
  scrollbar-width: none;
  /* Firefox scrollbar gizle */
}

.popular-slider::-webkit-scrollbar {
  display: none;
  /* Chrome + Safari scrollbar gizle */
}

.swiper {
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 0 20px;
}


.swiper-slide {
  flex: 0 0 auto;
  /* Kart sabit genişlik */
}

.product-card {
  width: 440px;
  height: 220px;
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.product-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info h4 {
  margin-top: 15px;
  font-size: 22px;
}

.product-info .description {
  margin-top: 0px;
  font-size: 11px;
  color: #555;
}

.product-info .price {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #e60000;
}
