.popular-slider {
  width: 100%;
  overflow-x: scroll;
  padding: 20px 0;
  background: #f9f9f9;
  -ms-overflow-style: none;
  /* IE / Edge scrollbar gizle */
  scrollbar-width: none;
  /* Firefox scrollbar gizle */
}

.popular-slider::-webkit-scrollbar {
  display: none;
  /* Chrome + Safari scrollbar gizle */
}

.swiper {
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 0 20px;
}


.swiper-slide {
  flex: 0 0 auto;
  /* Kart sabit genişlik */
}

.product-card {
  width: 440px;
  height: 220px;
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.product-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info h4 {
  margin-top: 15px;
  font-size: 22px;
}

.product-info .description {
  margin-top: 0px;
  font-size: 11px;
  color: #555;
}

.product-info .price {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #e60000;
}

/* Kateogiler kısmı */

/* Ortadaki container */
.categories-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  max-width: 1000px;
  /* Container genişliği */
  margin: 0 auto;
  /* Ortalar */
  padding: 20px;
  /* Sağ-solda boşluk */

  padding-bottom: 150px;

}

/* Grid sistemi */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Masaüstü: 4 sütun */
  gap: 20px;
  margin-top: 100px;
}

/* Kart stili */
.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 2px solid #428533;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.category-card h3 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #428533;
  text-align: center;
}

/* Tablet (600px - 900px) → 2 sütun */
@media (max-width: 900px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 15px;
    margin-top: 40px;
  }

  .category-card h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: #428533;
    text-align: center;
  }
}