<div class="popular-slider">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
                <div class="product-card">

                    <!-- Image -->
                    <img [src]="'/' + product.image" alt="{{ product.productName }}" [alt]="product.productName"
                        class="product-img">

                    <div class="product-info">
                        <!-- Product Name -->
                        <h4>{{ product.productName }}</h4>

                        <!-- Description -->
                        <p class="description">
                            {{ product.description }}
                        </p>

                        <!-- Tooltip (isteğe bağlı)
      <span class="tooltip">
        {{ product.tooltip }}
      </span> -->

                        <!-- Price -->
                        <span class="price">₺{{ product.price }}</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Kategroiler kısmı -->

<div class="categories-container">
  <div class="categories-grid">

    <div class="category-card" routerLink="/menu/grills">
      <h3>Izgaralar</h3>
    </div>

    <div class="category-card" routerLink="/menu/doners">
      <h3>Dönerler</h3>
    </div>

    <div class="category-card" routerLink="/menu/appetizers">
      <h3>Mezeler</h3>
    </div>

    <div class="category-card" routerLink="/menu/snacks">
      <h3>Aperitifler</h3>
    </div>

    

  </div>
</div>