<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/Can Logo Beyaz.png" alt="Can Logo" />
    </div>

    <div class="footer-info">
      <p>
        <i class="fas fa-map-marker-alt"></i>
        Maltepe Mahallesi, Atatürk Bulvarı, No:45
      , Bergama/İzmir
      </p>
      <a href="tel:+90 531 644 93 43" ><i class="fas fa-phone-alt"></i> +90 531 644 93 43</a>
    </div>

    <div class="footer-social">
      <a href="https://www.instagram.com/saglamoglutavukculuk/"><i class="fab fa-instagram"></i></a>
      <a href="https://share.google/DKD5kpZT7VBu3Fye2"><i class="fab fa-google"></i></a>
       <!-- WhatsApp -->
  <a href="https://wa.me/905316449343?text=Merhaba%20bilgi%20almak%20istiyorum" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>
    </div>
  </div>
</footer>