.footer {
    background: linear-gradient(to right,
            #000000 0%,
            #330505 35%,
            #610808 65%,
            #910a0a 100%);
    color: #eeeeee;
    padding: 30px 20px;
    font-family: "Montserrat", sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}


.footer-logo img {
    width: 120px;
}

.footer-info {
    margin-top: 10px;
    flex: 1;
    min-width: 280px;
    font-size: 14px;
    line-height: 1.5;
}

.footer-info i {
    margin-right: 8px;
    font-size: 18px;
}

.footer-info a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 15px;
}

.footer-social a {
    margin: 0 8px;
    font-size: 22px;
    transition: 0.3s;
    color: #eeeeee;
}

.footer-social a:hover {
    opacity: 0.7;
}

/* Responsive */
@media (max-width: 768px) {

    .footer {
        color: #eeeeee;
        padding: 5px 20px;
        font-family: "Montserrat", sans-serif;
    }

    .footer-container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        gap: 10px;
    }

    .footer-info {
        margin-top: 0px;
        flex: 1;
        min-width: 280px;
        font-size: 14px;
        line-height: 1.5;
    }

    .footer-logo img {
        width: 120px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-info {
        text-align: center;
        font-size: 14px;
        line-height: 2;
    }

    .footer-social {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}