.mainmenu {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.hero-video {
  position: relative;
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  object-fit: cover;
  /* ekranı tamamen kaplar */
  pointer-events: none;
  /* hover + click kapatır */
}

.menu-banner {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.menu-image img {
  width: 100%;
  height: auto;
}

.menu-btn {
  position: absolute;
  z-index: 10;
  display: flex;
  right: 200px;
}

.btn {
  display: flex;
  height: 80px;
  width: 200px;
  font-size: 30px;
  font-weight: 700;
  background: rgba(2, 85, 24, 0.1);
  border: 1px outset rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.service-cards {
  background-color: #000000;
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-header {
  display: flex;
  flex-direction: column;
}

.service-header p {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);

}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(219, 89, 9, 0.8);
}

.card h1 {
  color: #ffffff;
}

.card1 {
  background-image: url('/card1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url('/card2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url('/card6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card4 {
  background-image: url('/card5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card5 {
  background-image: url('/card4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card6 {
  background-image: url('/card3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-header {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.8);
}

.card-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 20px;
  text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.8);
}

@media (max-width: 768px) {

  .slider {
    gap: 10px;
  }

  .dotcontainer {
    height: 20px;
  }

  .dots {
    gap: 8px;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  .mainbar {
    margin-top: 10px;
  }


  .menu-btn {
    position: absolute;
    z-index: 10;
    display: flex;
    right: 20px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: auto;
  }

  .btn i {
    font-size: 17px;
  }

  .service-cards {
    background-color: #000000;
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service-header {
    display: flex;
    flex-direction: column;
  }

  .service-header p {
    font-size: 30px;
    font-weight: 700;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: auto;
  }

  .card {
    width: 165px;
    height: 220px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card1 {
    background-image: url('/card1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card2 {
    background-image: url('/card2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card3 {
    background-image: url('/card6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card4 {
    background-image: url('/card5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-header {
    font-size: 18px;
    font-weight: 750;
  }

  .card-text {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin: 0px 10px;
  }

}