.mainmenu {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slides {
  width: 100%;
  display: flex;
  transition: 0.3s ease-out;
}

.slide {
  min-width: 100%;
  user-select: none;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

.dotcontainer {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.dots {
  background-color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  background: #ffffff;
}

.dot.active {
  background: rgb(255, 0, 0);
}

.mainbarcomponent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainbar {
  margin-top: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mainvideo {
  filter: brightness(70%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}


.helpcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-top: 100px;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-right: auto;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  border-left: 5px solid #d32f2f;
  /* Mavi çizgi */
  padding-left: 10px;
  margin-bottom: 25px;
}

.content {
  font-size: 30px;
  font-weight: 450;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}

.content a {
  color: #d32f2f;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.hemenara {
  position: absolute;
  z-index: 10;
  display: flex;
  margin-left: auto;
  bottom: 20px;
}

.btn {
  display: flex;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
  border: 1px outset rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.service-cards {
  background-color: #000;
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-header {
  display: flex;
  flex-direction: column;
}

.service-header p {
  font-size: 50px;
  font-weight: 600;
  color: #d32f2f;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

.card1 {
  background-image: url('/card1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url('/card2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url('/card3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-header {
  font-size: 30px;
  font-weight: 700;
}

.card-text {
  font-size: 15px;
  font-weight: 500;
  margin: 0px 20px;
}

@media (max-width: 768px) {

  .slider {
    gap: 10px;
  }

  .dotcontainer {
    height: 20px;
  }

  .dots {
    gap: 8px;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  .mainbar {
    margin-top: 10px;
  }

  .helpcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .title {
    margin-right: auto;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid #d32f2f;
    /* Mavi çizgi */
    padding-left: 9px;
    margin-bottom: 10px;
  }

  .content {
    font-size: 14px;
    font-weight: 450;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }

  .content a{
     font-weight: 600;
     text-shadow: 2px 2px 5px black;
  }

  .btn {
    display: flex;
    height: 40px;
    width: 140px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: auto;
  }

  .service-cards {
    background-color: #000;
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service-header {
    display: flex;
    flex-direction: column;
  }

  .service-header p {
    font-size: 30px;
    font-weight: 600;
    color: #d32f2f;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: auto;
  }

  .card {
    width: 165px;
    height: 220px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card1 {
    background-image: url('/card1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card2 {
    background-image: url('/card2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card3 {
    background-image: url('/card3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

    .card4 {
    background-image: url('/card4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-header {
    font-size: 18px;
    font-weight: 750;
  }

  .card-text {
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
    margin: 0px 10px;
  }

}