<div class="mainmenu">

  <div class="hero-video">
    <video #bgVideo muted loop playsinline preload="auto">
      <source src="/tavuk-video.mp4" type="video/mp4">
    </video>
  </div>


  <div class="dotcontainer">
    <div class="dots"></div>
  </div>

  <div class="menu-banner">
    <div class="menu-image">
      <img src="/menü-banner.jpg" alt="">
    </div>
    <div class="menu-btn">
      <a href="/menu" class="btn">MENÜ <i class="fa-solid fa-utensils"></i></a>
    </div>

  </div>


  <div class="service-cards">
    <div class="service-header">
      <p>Ürünlerimiz</p>
    </div>
    <div class="cards">
      <div class="card card1">
        <h1 class="card-header">Izgaralar</h1>
        <p class="card-text">Köz ateşinde, ustasının elinden çıkan lezzetler…
          Her lokmada dumanı üstünde, tam kıvamında ızgara keyfi.</p>
      </div>
      <div class="card card2">
        <h1 class="card-header">Tavuk Döner</h1>
        <p class="card-text">Günlük hazırlanan, özel soslarla marine edilmiş tavuk döner.
          Sulu, yumuşak ve lezzetiyle bağımlılık yapar.</p>
      </div>
      <div class="card card3">
        <h1 class="card-header">Çiğ Ürünler</h1>
        <p class="card-text">Tazeliğiyle fark yaratan, özenle seçilmiş çiğ ürünler.
          Evde de aynı kaliteyi yakalamanız için hazır.</p>
      </div>
      <div class="card card4">
        <h1 class="card-header">Aperatifler</h1>
        <p class="card-text">Dönerin yanına yakışan çıtır lezzetler.
          Atıştırmalık ama etkisi büyük!</p>
      </div>
    </div>
  </div>
</div>