  .helpcontainer {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    border-left: 5px solid #d32f2f;
    padding-left: 9px;
    margin-bottom: 10px;
  }

  .adress {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .helpcontainer .phone {
    font-size: 19px;
    font-weight: 550;
    margin-bottom: 0px;
  }

  .helpcontainer a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
  }

  .helpcontainer a:hover {
    color: #d32f2f;
  }

  .helpcontainer i {
    font-size: 22px;
  }



  .map-wrapper {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
  }

  .map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (max-width: 768px) {
    .title {
      margin-right: auto;
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      border-left: 5px solid #d32f2f;
      padding-left: 9px;
      margin-bottom: 10px;
    }
  }