<section class="about">

  <div class="title">Hakkımızda</div>
  <p>
    Sağlamoğlu Tavukçuluk olarak Bergama’da lezzeti, kaliteyi ve güveni bir araya getiriyoruz. Gıda sektöründe
    edindiğimiz catering deneyimi ve restoran tecrübemizle, sadece ürün sunmuyor; her müşterimize özenle hazırlanmış bir
    lezzet deneyimi yaşatıyoruz. Yıllar içinde farklı mutfak operasyonlarında kazandığımız disiplin, hijyen anlayışı ve
    kalite standartlarını şimdi kendi markamız altında sizlerle buluşturuyoruz.
    Taze, günlük ve güvenilir ürün anlayışımızdan asla ödün vermeden, Bergama halkına en iyisini
    ulaştırmayı hedefliyoruz.
    Lezzetin sağlam haliyle tanışmaya davetlisiniz.
  </p>



</section>