<section class="about">




  <!-- GÜVENCE KARTLARI -->
  <div class="container guarantees">

    <div class="card">
      <i class="fa-solid fa-temperature-low"></i>
      <h3>Soğuk Zincir</h3>
      <p>Depolama ve sevkiyat +4°C standartlarında yapılır.</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-kitchen-set"></i>
      <h3>Hijyenik Mutfak</h3>
      <p>Günlük temizlik ve steril üretim alanları.</p>
    </div>

    <div class="card">
      <i class="fa-solid fa-face-smile"></i>
      <h3>Müşteri Memnuniyeti</h3>
      <p>Lezzet ve kalite garantisi veriyoruz.</p>
    </div>

  </div>


</section>
