.about {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  border-left: 5px solid #d32f2f;
  padding-left: 9px;
  margin-bottom: 10px;
}

.about p{
  font-size: 19px;
  font-weight: 450;
}