.about {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}


/* GUARANTEES */
.guarantees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  transition: .3s;
  box-shadow: 2px 2px 5px rgb(34, 34, 34, 0.8);
}

.card:hover {
  transform: translateY(-5px);
  background: #222;
  color: #ffffff;
}

.card i {
  font-size: 28px;
  color: #d32f2f;
  margin-bottom: 12px;
}

.card h3 {
  margin-bottom: 8px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 50px 20px;
  background: #000000;
  margin-top: 40px;
}

.stats h2 {
  color: #d32f2f;
}

.stats span{
  color: #ffffff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .guarantees {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .guarantees {
    grid-template-columns: 1fr;
  }

  .stats {
    flex-direction: column;
    gap: 20px;
  }

  .card:hover {
    transform: none;
    background: #c7c7c7;
    color: #222;
  }

}