<!-- Kategroiler kısmı -->

<div class="categories-container">
  <div class="categories-grid">

    <div class="category-card" routerLink="/menu/ızgaralar">
      <img src="/category-1.jpg" alt="">
      <h3>Izgaralar</h3>
    </div>

    <div class="category-card" routerLink="/menu/dönerler">
      <img src="/category-2.jpg" alt="">
      <h3>Dönerler</h3>
    </div>

    <div class="category-card" routerLink="/menu/mezeler">
      <img src="/category-3.jpg" alt="">
      <h3>Mezeler</h3>
    </div>

    <div class="category-card" routerLink="/menu/aperatifler">
      <img src="/category-4.jpg" alt="">
      <h3>Aperatifler</h3>
    </div>

    <div class="category-card" routerLink="/menu/içecekler">
      <img src="/category-5.jpg" alt="">
      <h3>İçecekler</h3>
    </div>

    <div class="category-card" routerLink="/menu/çiğ-ürünler">
      <img src="/category-6.jpg" alt="">
      <h3>Çiğ Ürünler</h3>
    </div>



  </div>
</div>