<!-- Kategroiler kısmı -->

<div class="categories-container">
  <div class="categories-grid">

    <div class="category-card" routerLink="/menu/grills">
      <h3>Izgaralar</h3>
    </div>

    <div class="category-card" routerLink="/menu/doners">
      <h3>Dönerler</h3>
    </div>

    <div class="category-card" routerLink="/menu/appetizers">
      <h3>Mezeler</h3>
    </div>

    <div class="category-card" routerLink="/menu/snacks">
      <h3>Aperitifler</h3>
    </div>

    <div class="category-card" routerLink="/menu/drinks">
      <h3>İçecekler</h3>
    </div>


  </div>
</div>