<!-- Kategroiler kısmı -->

<div class="categories-container">
  <div class="categories-grid">

    <div class="category-card" routerLink="/menu/ızgaralar">
      <h3>Izgaralar</h3>
    </div>

    <div class="category-card" routerLink="/menu/dönerler">
      <h3>Dönerler</h3>
    </div>

    <div class="category-card" routerLink="/menu/mezeler">
      <h3>Mezeler</h3>
    </div>

    <div class="category-card" routerLink="/menu/aperatifler">
      <h3>Aperatifler</h3>
    </div>

    <div class="category-card" routerLink="/menu/içecekler">
      <h3>İçecekler</h3>
    </div>

<div class="category-card" routerLink="/menu/çiğ-ürünler">
      <h3>Çiğ Ürünler</h3>
    </div>



  </div>
</div>