/* Ortadaki container */
.categories-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  max-width: 1000px;
  /* Container genişliği */
  margin: 0 auto;
  /* Ortalar */
  padding: 20px;
  /* Sağ-solda boşluk */
  padding-bottom: 150px;
}

/* Grid sistemi */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Masaüstü: 4 sütun */
  gap: 20px;
  margin-top: 100px;
}

/* Kart stili */
.category-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.category-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.category-card h3 {
  position: absolute;
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  z-index: 999;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.8);
  letter-spacing: 0.8px;
}

/* Tablet (600px - 900px) → 2 sütun */
@media (max-width: 900px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 15px;
    margin-top: 40px;
  }

  .category-card h3 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    text-align: center;
  }
}

/* Mobil (<600px) → 1 sütun */
@media (max-width: 600px) {

  .category-card {
    height: 50px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f0f0f0;
  }

  .categories-grid {
    grid-template-columns: 1fr;
    display: grid;
    gap: 15px;
    margin-top: 40px;
  }

  .category-card h3 {
    margin: 0;
    font-weight: 650;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    right: 10px;
  }
}